<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ping Vs. Pong!</title>
        <meta name="description" content="Ping Vs. Pong!">
        <meta name="author" content="Mateusz Probachta">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- CSS --->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <!-- FAVICON --->
        <link rel="icon" type="image/png" href="images/favicon.png">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="one-half column" style="margin-top: 25%">
                    <h4>Ping vs Pong</h4>
                    <p>Gupi konkurs</p>
                </div>
            </div>
        </div>
    </body>
</html>
